<div id="footer">
    <div id="footer_in">      		
        @*<div class="fleft">
            <p> &copy; 2011 dot net flow</p>
        </div>*@
                    
        @*<p class="author"> Created by <a href="http://10consulting.com/"><strong>Ben Smith</strong></a></p>*@
    </div>
</div>