<div id="top_strip">
    <div id="top_strip_in">
        <ul class="dropdown dropdown-horizontal" >
			<li class="page_item page-item-28"><a href="http://localhost/dotnetflow/?page_id=28" title="About">About</a>
                <ul class='children'>
	                <li class="page_item page-item-29"><a href="http://localhost/dotnetflow/?page_id=29" title="Sub Page 1">Sub Page 1</a></li>
	                <li class="page_item page-item-30"><a href="http://localhost/dotnetflow/?page_id=30" title="Sub Page 2">Sub Page 2</a></li>
                </ul>
            </li>
            <li class="page_item page-item-31"><a href="http://localhost/dotnetflow/?page_id=31" title="Sub Page in 1">Sub Page in 1</a></li>
            <li class="page_item page-item-32"><a href="http://localhost/dotnetflow/?page_id=32" title="Sub Page in 2">Sub Page in 2</a></li>
            <li class="page_item page-item-33"><a href="http://localhost/dotnetflow/?page_id=33" title="Site Map">Site Map</a></li>
		</ul>
            
        <p>Welcome Guest. <a href="http://localhost/dotnetflow/?ptype=login&page1=sign_in">Sign in</a> or <a href="@Url.RouteUrl("Register")">Signup</a></p>
    </div>
</div>

<div id="header">
    <div id="header_in">
        <div class="logo"><a href="@Url.Content("~")">Dot Net Flow</a></div>
        <div class="header_right"></div>
    </div>
</div>

<div id="nav">
    <div id="nav_in">				 	
		<ul>
            <li class="hometab"><a href="http://localhost/dotnetflow/">Home</a></li>                        
            <li class="page_item page-item-2"><a href="http://localhost/dotnetflow/?page_id=2" title="Sample Page">Sample Page</a></li>
            <li class="page_item page-item-28"><a href="http://localhost/dotnetflow/?page_id=28" title="About">About</a>
                <ul class='children'>
	                <li class="page_item page-item-29"><a href="http://localhost/dotnetflow/?page_id=29" title="Sub Page 1">Sub Page 1</a></li>
	                <li class="page_item page-item-30"><a href="http://localhost/dotnetflow/?page_id=30" title="Sub Page 2">Sub Page 2</a></li>
                </ul>
            </li>
            <li class="page_item page-item-33"><a href="http://localhost/dotnetflow/?page_id=33" title="Site Map">Site Map</a></li>
            <li class=""><a href=" http://localhost/dotnetflow/?ptype=ask-a-question" >Ask a Question</a></li>
            <li class=""><a href=" http://localhost/dotnetflow/?ptype=users">Users</a></li>
            <li ><a href="http://localhost/dotnetflow/?cat=3" title="Blog">Blog</a></li>                                     
  		</ul>

        <div class="search">
            <form method="get" id="searchform" action="http://localhost/dotnetflow">
                <input type="text" value="Find a Question" name="s" id="s" class="textfield" onfocus="if (this.value == 'Find a Question') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Find a Question';}" />
                <input type="image" class="b_search" src="@Url.Content("~/Content/images/b_search.png")" alt="Submit button" />
            </form>
        </div>
    </div> 
</div>