@using DotNetFlow.Extensions;

@if (Request.IsAuthenticated)
{
    <p>Welcome <span class="logged-in-as">@Html.Encode(User.Identity.Name)</span>. <a href="@Url.Logout()">Sign out</a></p>
}
else
{
    <p>Welcome <span class="logged-in-as">Guest</span>. <a href="@Url.Login()">Sign in</a> or <a href="@Url.SignUp()">Signup</a></p>
}