<div id="sidebar" class="">
    <a href="http://localhost/dotnetflow?ptype=ask-a-question" class="b_askquestions" >Ask a Question</a>     
		    
    <div class="widget">
        <h3>Categories</h3>		
        <ul>
	        <li class="cat-item cat-item-3"><a href="http://localhost/dotnetflow/?cat=3" title="View all posts filed under Blog">Blog</a></li>
	        <li class="cat-item cat-item-1"><a href="http://localhost/dotnetflow/?cat=1" title="View all posts filed under Uncategorized">Uncategorized</a></li>
		</ul>
    </div>
            
    <div class="widget">			
        <div class="latestnewshome">
            <h3>Latest Questions</h3> 
            <ul>
			    <li class="clearfix"><a class="widget-title" href="http://localhost/dotnetflow/?p=8">Where do i go to if i need to talk to ebay about a delivery</a></li>
 		        <li class="clearfix"><a class="widget-title" href="http://localhost/dotnetflow/?p=9">How do i tell my mother im bi and dating a female                </a></li>
 		        <li class="clearfix"><a class="widget-title" href="http://localhost/dotnetflow/?p=10">Why is my friend depressed                </a></li>
 		        <li class="clearfix"><a class="widget-title" href="http://localhost/dotnetflow/?p=11">What are some wicked cool or good tattoo ideas                </a></li>
 		        <li class="clearfix"><a class="widget-title" href="http://localhost/dotnetflow/?p=12">What are some good christian scremo bands                </a></li>
 		    </ul>
        </div>
    </div>
            
    <div class="widget">
        <h3>Archives </h3>		
        <ul>
			<li><a href='http://localhost/dotnetflow/?m=201105' title='May 2011'>May 2011</a></li>
		</ul>
    </div>         
 	
    <div class="subscribe">
		<h6>Subscribe Now</h6>
		<p>Stay updated with all our latest news enter your e-mail address here</p>
        <form  action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"  onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=http://feeds.feedburner.com/', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
            <input type="text" class="subscribefieldnow" onFocus="if (this.value == 'Your Email Address') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Your Email Address';}" name="email"/>
            <input type="hidden" value="" name="uri"/><input type="hidden" name="loc" value="en_US"/>
            <input type="submit" value="Subscribe" class="submit" />
        </form>
 	</div><!-- subscribe end -->
</div>