
/* Styles for basic forms
-----------------------------------------------------------

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

*/

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* DotNetFlow styles */
.published-items .date  
{
    background-color: #e8f5fd;    
    color: #6f96b4;
    text-align: right;
    padding: 5px 25px;
    border-bottom: 2px solid #c0d2dd;
    border-top: 2px solid #c0d2dd;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 24px;    
}
.published-items .date:first-child
{
    margin-top: 0;
}

.rounded-corners {
     -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 2px;
    border-radius: 3px;
}