/* Import RESET styling for grid framework*/
@import url('reset.css');

/* Import GRID styling for grid framework*/
@import url('default.css');

/*	--------------------------------------------------
Global Reset - Resets all browser defaults to 0
-------------------------------------------------- */
html, body { margin:0px; padding:0px; }
body { font:12px Arial, Helvetica; }

.fix{ clear: both; height:1px; margin: -1px 0 0; overflow: hidden }
.fl{ float: left }
.fr{ float: right }
.ac{ text-align: center }
.ar{ text-align: right }

hr { margin-bottom:30px; margin-top:20px; clear:both; }
p { padding:0px 0 10px 0; margin:0; line-height:22px; margin:0;  }
p em { line-height:20px; } 
code { line-height:18px; }

.alignleft { float:left;  padding:5px; margin:13px 12px 0px 0; }
.alignright { float:right; padding:5px;  margin:24px 0 0px 12px; }
.wp-caption .alignleft { margin:0 15px 10px 15px;  padding:0;    }
.wp-caption p { margin:0; padding:3px 5px; font:bold 12px Arial, Helvetica, sans-serif;  }
.wp-caption .alignright { float:right; margin:0 0 10px 15px; padding:0;    }
.wp-caption { width:auto !important; }

/* headings ---------------------- */
h1.page_head, h1.single_head { padding:0 0 8px 0; font:32px Arial, Helvetica, sans-serif; }
h1.single_head { margin:0; padding:0;  }

h1.page_head span { font-size:11px; color:#b1b1b1; padding:10px 0 0 0; }

h1 { margin:0; font:24px Arial, Helvetica, sans-serif;  }
h2 { font:18px Arial, Helvetica, sans-serif; }
h3 { font:16px Arial, Helvetica, sans-serif; }
h4 { margin-bottom:10px; font-size:24px; font-weight:bold;   }
h5 { font:18px Arial, Helvetica, sans-serif; }
h6 { font:18px Arial, Helvetica, sans-serif;  }

/* STRUCTURE ---------------------*/
#top_strip { height:32px; }
#top_strip_in { width:960px; margin:0 auto; }

#header_in { width:960px; margin:0 auto; height:115px; }
#nav_in {width:960px; margin:0 auto 35px auto; height:45px; display:block; }

#wrapper { width:960px; margin:0 auto; height:100%; overflow:hidden; }
#content { width:720px; float:left;  }
#sidebar { width:220px; float:right; }
.content_top { clear:both; }
/*.content_bottom { min-height:800px; }*/

#footer { width:960px; margin:0 auto; clear:both; }
#footer_in { padding:10px 245px 10px 8px; height:100%; overflow:hidden; }


/* HEADER ****************************/
#top_strip p { padding:7px 0 0 0; float:right; font:11px Verdana, Geneva, sans-serif; text-decoration:none;  }
#top_strip p a { text-decoration:underline; padding:0 4px; }
#top_strip p a:hover { text-decoration:none; }

.logo { float:left; padding-top:40px ; }
.header_right { float:right; padding-top:25px; width:468px;   }

.blog-title a { font:30px Arial, Helvetica, sans-serif; padding:0; margin:0; text-decoration:none; }
.blog-title a:hover { text-decoration:none;}
p.blog-description{ font-style:italic; font-size:12px; margin:0; padding:0;  }

#nav .search { width:198px; height:30px; float:right; margin-top:5px; padding-top:6px;  }
#nav .search .textfield { padding:0px 5px 3px 12px; width:155px; float:left; font:14px Arial, Helvetica, sans-serif; }
#nav .b_search { float:right; margin:3px 8px 0 0; }


/* content question list ---------- */
#content .question_list { padding:15px 5px 10px 5px; height:100%; overflow:hidden; position:relative; }

#content .question_list h3 { margin:0; width:500px; font:18px Arial, Helvetica, sans-serif; float:left; }
#content .question_list h3 a { text-decoration:none;  }

#content .question_list p { float:right; width:585px;  font:11px Georgia, "Times New Roman", Times, serif;   border-bottom:none; }
#content .question_list p a { text-decoration:none; }
#content .question_list p span { float:left; margin-right:30px; }

#content .answers_total { float:left; width:45px; font:11px Georgia, "Times New Roman", Times, serif; text-align:center; margin-top:3px; margin-right:20px; line-height:normal; } 
#content .answers_total a { text-decoration:none; display:block; text-align:center; font:14px Arial, Helvetica, sans-serif; padding:5px 0 8px 0; }
#content .answers_total a:hover { text-decoration:none; }


#content .posts .question_list {  padding:0; margin-bottom:20px;  }
#content .posts .question_list .answers_total { float:left; margin:0; }
#content .posts .question_list  h1 { width:585px; float:right; display:block; margin:0 0 4px 0; }

#content .question_list p span.user { padding-left:18px; padding-bottom:8px; }
#content .question_list p span.user a { color:#333; }

#content .question_list p span.views { padding-left:22px;  padding-bottom:8px; }
#content .question_list p span.views b { font-weight:normal; color:#333; }

#content .question_list p span.ptags { padding-left:18px;  padding-bottom:8px; }
#content  span.pcate { padding-left:18px; display:block; }




/* --------------------- */

#content #tab { margin:0; padding:0px 0 0 10px;  height:47px;  _height:52px; _overflow:hidden; list-style:none; float:left; text-align:right; width:710px; }
* html #content #tab li { position: relative; top:5px; z-index:3px; }

#content #tab li { float:left; margin:0; padding:0;  }
#content #tab .page_item a { display: block; text-decoration: none; padding:18px 22px 13px 22px; font:18px Georgia, "Times New Roman", Times, serif; }
#content #tab li.current_page_item { text-decoration:none;  }
#content #tab li.current_page_item a { text-decoration:none; }

#content .user_tab { margin:0 0 20px 0; padding:0; height:43px; }
#content .user_tab li { margin:0 0 0 10px; padding:0; font:18px Georgia, "Times New Roman", Times, serif; float:left;  }
#content .user_tab li a { display:block; float:left;  padding:10px; }



/* content -------------*/
#content p { font-size:14px; }

#content ul { list-style:none; margin:0 0 30px 0; }
#content ul li ul, #content ul li ul li ul { margin:4px 0 0 0; }
#content li { margin:0 0 10px 0; padding:0 0 0 12px; line-height:20px; font-size:14px; }
#content ol { margin:0 0 30px 18px; padding:0 0 10px 5px; list-style-type:decimal;  line-height:18px; }
#content ol li ol { margin:8px 0 5px 18px; padding:0; }
#content ol li ol li { margin:0 0 5px 0; padding:0;  list-style-type: lower-latin;  }
#content ol li ol li ol li { list-style-type: lower-roman; }

#content h3 { margin:0 0 15px 0; padding:0 0 4px 0; font:22px Arial, Helvetica, sans-serif; }

#content .question_cat {  }
#content .question_cat li { background:none; margin:0 0 12px 0; padding:0; display:block;  width:220px; float:left; color:#666;  }
#content .question_cat li input { position:relative; top:-2px; margin-right:8px; }

blockquote { clear:both; height:100%; margin:10px 0 0px 5px; overflow:hidden; padding:0 0 5px 30px; }
#content blockquote p, #sidebar blockquote p { font:italic 18px Georgia, "Times New Roman", Times, serif; margin:0 0 5px 0; padding:0; line-height:23px; }
blockquote cite, #sidebar cite { font-size:12px; font-weight:bold ; float:right; line-height:18px; text-align:right; display:block;   }
blockquote a { font-size:13px; }


#calendar_wrap{ padding:0; font-size:13px }
#wp-calendar { width:100%; }
#wp-calendar  caption { font-weight:bold; font-size:15px; text-transform:uppercase; }
#calendar_wrap caption{ padding:10px 0 }

#content h5 { margin:30px 0 10px 0; padding:0; }
#content h5.form_title { margin:30px 0 10px 0; padding:20px 0 0 0; }

#content .posts h2, #content h2 { font-size: 22px }
#content .posts h3, #content h3 { font-size: 20px }
#content .posts h4, #content h4 { font-size: 18px; font-weight:normal; }
#content .posts h5, #content h5 { font-size: 16px }
#content .posts h6, #content h6 { font-size: 14px }
.content_spacer h4.cate_title { font-size:26px; clear:both; }
#content .posts h2, #content .posts h3, #content .posts h4, #content .posts h5, #content .posts h6 { margin:30px 0 5px 0; font-family: Arial, Helvetica, sans-serif; }

#content h2, #content h3, #content h4, #content h5, #content h6 { margin:30px 0 5px 0; font-family: Arial, Helvetica, sans-serif; }



#content .posts { padding-bottom:5px; margin-bottom:35px; height:100%; overflow:hidden; }
#content .post_top { margin:0 0 15px 0; }
#content p.post_top a { text-decoration:none; }
#content p.post_top a:hover { text-decoration:none; }
.more { font-size:12px; font-weight:bold; }


.post_left { width:100px; float:left; padding-top:3px;  }
.post_left span { display:block; border-bottom:1px dotted #ddd; padding-bottom:10px; margin-bottom:10px; color:#777;  }

.post_right { width:540px; float:right; }


#content .post_top h1, #content .post_top h3  { margin:0; padding:0; line-height:normal; }
#content .post_top h1 a, #content .post_top h3 a{ text-decoration:none; }

#content .post_top h3 a { font-size:24px; }
.single_post_advt { padding-bottom:50px; text-align:center; }

.commentcount { margin-left:0px; padding-left:18px;  }
.commentcount a { text-decoration:none; }

#content p.postmetadata { margin:0;  font-size:11px;  }
#content .post_top p.postmetadata { margin:0; padding:0; font-size:11px; }
#content p.post_bottom { margin:0; padding:10px 0 0 0; font-size:11px; }
#content p.post_bottom a, #content p.postmetadata a { text-decoration:none;  }
#content p.post_bottom a:hover { text-decoration:none;  }


.info { padding:10px; padding-bottom:5px; margin-bottom:30px;  }
.published_info { padding:10px; padding-bottom:5px; margin-bottom:30px; background:#fffdc3; border:1px solid #ff7800;  }


/* sidebar  ---*/
.sidebar_spacer { padding-top:54px; }

a.b_askquestions { margin-top:4px; width:220px; height:46px; text-indent:-9009px; display:block; margin-bottom:20px;  }

#sidebar .widget { margin-bottom:30px; }
#sidebar .widget h3 { margin:0 0 5px 0; padding:0 0 5px 0; font:18px Arial, Helvetica, sans-serif;  }
#sidebar ul { margin:0; padding:0; }
#sidebar li { margin:0 0 0px 0; padding:4px 0 8px 15px; font:14px Arial, Helvetica, sans-serif;  }
#sidebar li ul { margin:0; padding:0; }
#sidebar li ul li { border-bottom:none; margin-bottom:4px; padding:9px 0 0px 15px; background-position:0 15px;}

#sidebar .topusers li { padding-left:0; }
#sidebar .topusers li img { float:left; margin:0 8px 0 0; }
#sidebar .topusers li .users { float:left; margin-right:5px; padding:5px 0; font:12px Arial, Helvetica, sans-serif;  }
#sidebar .topusers li .points { float:right; padding:5px 0; font:bold 12px Arial, Helvetica, sans-serif; }
#sidebar .widget h3 span.point { font:bold 12px Arial, Helvetica, sans-serif; }

.subscribe  { background:#fff; border:1px solid #cbdfec; padding:14px; }
#sidebar .subscribe h6 { margin:0; padding:0 0 7px 0; }
#sidebar .subscribe p { line-height:normal; }
#sidebar .subscribe .subscribefieldnow { border:1px solid #ccc; padding:5px; width:175px; margin-bottom:8px; font:12px Arial, Helvetica, sans-serif; color:#333; }
#sidebar .subscribe .submit { background:#666; padding:4px 8px; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; border:none; cursor:pointer;  }


/* form ------ */
.form_row { margin:8px 0 12px 0;  } 
.form_row label { width:180px; float:left; font:14px Arial, Helvetica, sans-serif; padding:9px 15px 9px 0; text-align:right;    }
.form_row .textfield { float:left; width:300px; font:13px Arial, Helvetica, sans-serif;padding:7px 8px;  }
.form_row .select  { float:left; width:318px; }
.form_row .textarea { float:left; width:380px; height:200px; font:13px Arial, Helvetica, sans-serif;  float:left; padding:7px 8px; }
.btn_spacer { margin-left:193px; }

.indicates { font-size:11px; }

#contact_detail_id p { clear:both }
#contact_detail_id .que_error_msg { clear:both; padding:3px 0 0 84px; }
.error_msg, .que_error_msg2 { display:block; padding:3px 0 0 195px; float:left; clear:both; }

#questionform p.que_error_msg { clear:both; padding:3px 0 0 84px; color:#900; padding-bottom:5px; } 



.btn_input_highlight { cursor:pointer; padding:8px 20px;  text-align:center; font:bold 14px Arial, Helvetica, sans-serif; -moz-border-radius:5px;  -webkit-border-radius:5px;   }
.btn_input_normal { cursor:pointer; padding:8px 20px;  text-align:center; font:bold 14px Arial, Helvetica, sans-serif; -moz-border-radius:5px;  -webkit-border-radius:5px;   }

.b_spacer2 { float:left; clear:both; margin:10px 0 0 0; }
.b_spacer1 { margin-left:194px !important; }
.b_spacer3 { margin-left:0 !important; }
.btn_spacer { margin-right:10px; }

.message_note { clear:both; float:left; margin-left:195px; color:#777; }


/* login form -----------*/
#loginform { padding-top:30px;   }
#loginform label { width:180px;  }
#loginform .form_row label span { color:#900; }
#loginform .form_row .message_error2, #changepw_frm .form_row .message_error2 { clear:both; display:block; color:#900; padding:4px; margin-left:190px; }
#loginform p.rember  { float:left; color:#666;margin-left:190px; font-size:12px;   }
#loginform p.links  { float:left; color:#666;margin-left:190px; font-size:12px; margin-top:10px; margin-bottom:30px;   }
#loginform p.links a { margin-right:5px; margin-left:5px; }
 
#lostpassword_form { clear:both; margin-top:20px; padding:20px; border:1px solid #ccc; width:400px; margin:0 auto;  height:100%; overflow:hidden;  }
#lostpassword_form label { display:block; width:auto; margin-bottom:5px; }
#lostpassword_form h4 { margin:0; padding:0; }
.forgot_spacer { margin-left:57px; }




/* login form widget -----------*/
#sidebar .login_widget { padding:10px;  }
#sidebar .login_widget h3 { margin:0 0 8px 0; padding:0;  }

#sidebar #loginform { padding:0; }
#sidebar #loginform .form_row label { text-align:left; padding:3px 0;  }
#sidebar #loginform .form_row .textfield { width:175px; }
#sidebar #loginform .form_row { height:100%; overflow:hidden; margin-bottom:15px; }

.pro_author { height:100%; overflow:hidden; }
.pro_author img { margin:0 10px 0 0; float:left; border:1px solid #a6c9de; padding:1px;  }
.pro_author p { font-size:14px; } 
.pro_author p a { text-decoration:underline;  }

#sidebar .tagcloud { line-height:22px; }

/* registration form ----------------- */
#content .registration_form_box h5 { margin:20px 0 10px 0; padding:0 0 5px 0; font-size:18px; border-bottom:1px solid #ccc;  }
#content .registration_form_box label { width:180px;  }
#content .registration_form_box .message_error2 { clear:both; display:block; color:#900; padding:4px; margin-left:190px; }

#content .registration_form_box .information { clear:both; display:block; color:#666; padding:4px; margin-left:190px; } 




/* ask a question form  ------ */
.ask_row { height:100%; overflow:hidden; margin-bottom:25px;   }
.ask_row label { display: block; padding-bottom:10px; font:bold 14px Arial, Helvetica, sans-serif; }

.ask_row label.login { width:75px; float:left;}
.ask_row label.login_s { width:79px; float:left; padding-top:7px;  }
.ask_row .radio { margin-top:11px;  }
.ask_row .user_login { font-size:14px; color:#585858; }

.ask_row .textfield { width:640px; font:14px Arial, Helvetica, sans-serif; padding:7px 8px;  }
.ask_row .textarea { width:640px; height:200px; font:14px Arial, Helvetica, sans-serif;  padding:7px 8px;  }
.ask_row .textfield_tags { width:550px; }
.ask_row .textfield_login { width:200px; float:left; margin:0 15px 10px 5px; }

.ask_row .notice { display:block; padding:5px; clear:both; }

.ask_row .message_error2 { clear:both; display:block; color:#900; padding:4px;  } 
.ask_row h5.rfh { display:none;}
.ask_row .form_row, .ask_row .form_row label,.ask_row .message_note{ margin:0; padding:0; text-align:left;}
/* user listing --------------------------- */
#content .userlistings { margin:0; padding:0; }
#content .userlistings li { margin:0 0 20px 0; padding:0; clear:both; height:100%; overflow:hidden; background:none; }
#content .userlistings li img { float:left; padding:5px; margin-bottom:15px; }
#content .userlistings li h3 { margin:0 0 4px 0;  padding:5px 8px; width:500px; display:block; float:right;  font:bold 14px Arial, Helvetica, sans-serif; }
#content .userlistings li h3 a { text-decoration:none; font-weight:bold;   }

#content .userlistings li h3 span { display:block;  }
#content .userlistings li h3 span.total  a { font-weight:normal; font-size:13px; float:right; }

#content .userlistings li h3 span.total_point  a { font-weight:normal; font-size:13px; float:right; margin-right:10px;  border-right:1px solid #ccc; }


#content .userlistings li p { margin:0 0 8px 0; padding:0;  width:510px; float:right; font:12px Arial, Helvetica, sans-serif; line-height:18px;  }
#content .userlistings li p.links { padding:3px 3px 5px 3px;  }
#content .userlistings li p.links a { float:left; display:block; text-decoration:none; }

#content .userlistings li span.phone { padding-left:4px; }


/*---------COMMENTS --------- */
#comments h3{ font:normal 26px Arial, Helvetica, sans-serif; padding:0 0 5px 0; margin:0 0 20px 0; }
#comments .commentlist { padding:0; margin:0 }

.commentlist li { width:100%; height:100%; overflow:hidden; clear:both; background:#ccc;  }

#content #comments .comment { margin: 15px 0 0px 0;  list-style:none }
#comments .comment a{ text-decoration:none; padding:1px 0 }
#content #comments  p.authorcomment { margin:3px 0 0 0; padding:0; line-height:normal;  font-size:11px; font-weight:bold; }
#comments .comment .meta-left { width:60px; float:left;}
#comments .comment small {font-size: 11px }
* html #comments .comment .text-right { height:70px }
#comments .comment .text-right { min-height:70px; margin:0;  float:none }
#comments .comment .text-right p { line-height: 18px; padding: 0 0 12px 22px; font-size:14px; color:#626262; }

#comments .comment .text-right .date { font-size:11px;  }
#comments .comment { clear:both; }


#comments .comment p.author { margin:0 0 10px 15px; padding:0 0 5px 0; min-height:22px; border-bottom:1px solid #D0DCE3; }
#comments .comment .auhtor_name { float:left; }
#comments .comment .comments_links { float:right; font-size:11px; text-transform:uppercase;  } 



span.comm-reply{ float:left; padding:5px 0 10px 80px; font-size:11px; clear:both; text-transform:uppercase;   }
.spacer_com { padding:5px 0 10px 0px !important; }

span.comm-reply small { margin-right:10px; }

span.comm-reply a:hover{ font-size:11px; text-decoration:none; }

#content #comments ul.children { clear:both;  margin:0; padding-left:20px; }

#content #comments ul.children li { border-top:2px solid #E5E5E5; padding:14px 0 0 0; border-bottom:none; } 

p.commpadd input{ line-height:25px; padding:8px; width:300px;   }
p.commpadd label{ padding:0 0 0 5px }

#content #commentform .comment_blog p.commpadd input{ line-height:25px; padding:8px; width:300px;   }
#content #commentform .comment_blog p.commpadd label{ padding:0 0 0 5px; float:left;  }

#content .comment_blog p.commpadd { margin-bottom:10px; height:100% !important; overflow:hidden !important; }

#content .comment_blog p.commpadd .textare { width:500px;  }

input#submit { width:125px; height:47px; margin-left:85px;    cursor:pointer; }
.spacer { margin-left:0 !important; }


#respond { background:#f9f9f9; border:1px solid #e0e0e0; margin-top:40px;  }
#content #respond h3 { margin:0; padding:10px 20px; border-bottom:1px solid #e0e0e0; font-size:24px;  }

.votes { float:left;  padding:0; text-align:center; margin-bottom:20px; margin-left:-15px;  height:26px;  }
.votes p { margin:0; padding:0; }
.votes span { font-size:18px; font-weight:bold; float:left; text-align:center; display:block; padding:4px 14px 0px 4px; height:22px;   }
.votes span b { font-weight:normal; font-size:11px; color:#666; text-transform:uppercase; position: relative; top:-2px; }
.votes span img {  }

.content_left { float:left; width:90%;  }
.content_left p { padding-left:15px;  }

.content_left_2 { width:580px; }

a.report { color:#6eb237; text-decoration:none; }
a:hover.report { color:#000; }

#comments .comment .votes p { margin:0; padding:0; }
.cancel-comment-reply { padding:8px 10px 5px 18px; }


#respond form { padding:20px; }
#respond p { margin:0 0 20px 0; padding:0; }
#respond p label { float:left; display:block; width:70px; margin-right:10px; font-size:14px; padding-top:7px; text-align:left; color:#686868;  }

#respond p span.user_login { float:left; padding-top:0px; margin-right:10px;  color:#686868;  }
#respond p .radio { float:left; margin-top:5px; margin-right:5px; }

.label_spacer { margin-left:20px; }

#commentform p .radio { margin-top:14px; }
#commentform p .user_login {  margin-top:9px; }



/* BREADCRUMBS **************************/
.breadcrumbs { margin-bottom:20px; }
.breadcrumbs p { margin:0; padding:0;  }
.breadcrumbs a { padding-right:3px; font-size:11px; text-align:left; text-decoration:none; }
.breadcrumbs a:hover { text-decoration:none; }
.breadcrumbs strong { font-weight:normal;  }



/* FOOTER ------------------------------------*/
#footer_in .fleft { padding-top:5px; }

#footer p { padding:0px 0px 5px 0px; margin-left:-3px; line-height:18px; }
#footer .copyrights { margin:58px 0px 10px 0px; float:left; width:400px; }
#footer .copyrights p.author { color:#8b8674; }
#footer .footerright { margin:58px 5px 10px 0px; padding-right:10px; float:right; text-align:center; }
#footer ul { margin-left:-10px; margin-bottom:10px; }
#footer ul li { padding:0px 5px; display:inline; list-style-type:none; border-left:1px solid #ccc; }
#footer ul li a {  text-decoration:none; }

#footer .fleft { width:470px; float:left; }
#footer p.author { float:right;  }
#footer .designby { padding:5px 8px 0 0; float:left; }
#footer p span.templatic { width:80px; display:block; overflow:hidden;  float:left; }
#footer p span.templatic a {  text-indent:-9009px; padding-left:120px; height:30px; display:block; }

/* Post Pagination */
.pagination {  height:100%; overflow:hidden; text-align:center; clear:left; margin:25px 0; }
.pagination .on,  .pagination a { padding:5px 10px; margin-right:3px; margin-left:3px; display:inline; font-weight:bold; }
.pagination a { margin-left:0; line-height:28px; text-decoration:none; }


#content .alphabetical { padding:10px 0 20px 20px ;     }
#content .alphabetical li { margin:0; padding:0; float:left; }
.alphabetical li a { padding:5px 7px; margin-right:3px; float:left; display:block; font:bold 11px Arial, Helvetica, sans-serif; text-decoration:none; }

#comments .commentlist .selectedans { padding:10px !important;   }
#comments .commentlist span.bestanswer { padding:8px 0 7px 10px; margin:-7px 0 0 -15px; width:121px; font:11px Arial, Helvetica, sans-serif; text-transform:uppercase; color:#fff; display:block; margin-bottom:8px; height:15px;  } 

#comments .commentlist span.bestanswer, x:-moz-any-link { padding:7px 0 9px 10px; }

.author_photo { float:left; border:1px solid #ccc; padding:2px; }
.agent_biodata { float:right; width:450px;  }


.sucess_msg { text-align:center; padding:10px; margin:10px 0; background:#ecffe0; border-top:1px solid #6aa23a;  border-bottom:1px solid #6aa23a; font-size:12px; font-weight:bold; color:#5e962e; }
.error_msg_fix { text-align:center; padding:10px; margin:10px 0; background:#ffe2e2; border-top:1px solid #af3a3a;  border-bottom:1px solid #af3a3a; font-size:12px; font-weight:bold; color:#9a1313; }

#change_pw h5 { margin:0px 0 5px 0; padding:40px 0 5px 0; border-bottom:1px solid #ccc;  }

.propertylistinglinks { height:100%; overflow:hidden; }
.i_agent_others { margin-right:10px; display: block; float:left; padding-right:10px; border-right:1px solid #ccc; }
.answers_provider  { margin-right:10px; display: block; float:left; padding-right:10px;  border-right:1px solid #ccc;  }
.earn_point, .i_agent_others, .answers_provider { color:#666; }
.earn_point  b { color:#0D5488; }


.agent_details_main { background:#eee; border:1px solid #ccc; padding:10px; position:relative; overflow:hidden; word-wrap: break-word;  }
#content .agent_details_main h3 { margin-top:0; border-bottom:none; }

.editProfile { position:absolute; top:12px; right:10px; font-weight:bold; }
.editProfile a { color:#090; text-decoration:none; font-size:15px;  }

.renew { position:absolute; right:149px; bottom:5px; border-right:1px solid #ccc; padding-right:10px;  }
.renew a { color:#666; text-decoration:none; }


.edit { position:absolute; right:50px; bottom:5px;   }
.delete { position:absolute; right:10px; bottom:5px;   }
.status { position:absolute;  right:93px;  bottom:5px; border-right:1px solid #ccc; padding-right:10px; color:#000; font-weight:bold; color:#f60;   }


.edit a { color:#090;padding-right:6px; border-right:1px solid #ccc; margin-right:5px; }
.delete a { color:#900;padding:3px; } 

.info { height:100%; overflow:hidden; }
.go_spacer { margin-right:10px; }

.published_box { padding:10px 0 10px 0; height:100%; overflow:hidden; }
#content h5.payment_head { color:#900; font-size:16px; margin:0; padding:10px 120px 10px 120px; text-align:center; }

.emailagent { margin-left:13px; padding-left:5px;   }
 
.up_points,.down_points{ display:none !important;}


/* clearfix ----- */
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }
.clearfix:after { clear:both; content:' '; display:block; font-size:0; line-height:0; visibility:hidden; width:0; height:0; }
.clearfix { display:inline-block }
* html .clearfix { height:1% }
.clearfix { display:block; }