@{
    ViewBag.Title = "Register an account";
}

<h1 class="page_head">Sign Up</h1>
<div class="breadcrumbs"></div>

<div class="registration_form">
    <div id="sign_up">
        <div class="login_content">
            <p>Create an account for submitting new items and commenting on posts.</p>
        </div>

        <div class="registration_form_box">   
            <form name="registerform" id="registerform" action="http://localhost/dotnetflow/?ptype=login&amp;action=register" method="post">
                <h5 class="rfh">Your Information</h5>

                <div class="form_row clearfix" >
	                <div class="form_row clearfix">
	                    <label>Full Name <span class="indicates">*</span></label>
	                    <input type="text" name="user_fname" id="user_fname" class="textfield" value="" size="25"  />
                        <div class="information">Will be shown for each of your submissions and comments</div>	                    
	                </div>
	            </div>

                <div class="form_row clearfix">
                    <label>E-mail <span class="indicates">*</span></label>
                    <input type="text" name="user_email" id="user_email" class="textfield" value="" size="25" />
                    <div class="information">This will be your login to the site and used for resetting your password</div>
                    <span id="user_emailInfo"></span>
                </div>
	
                <div class="form_row clearfix">
                    <label>Password <span class="indicates">*</span></label>
                    <input type="password" name="user_pwd" id="user_pwd" class="textfield" value="" size="25" />

                    <div class="information">Password should be minimum of 6 characters long.</div>
                    <span id="user_pwdInfo"></span>
                </div>
		           
	            <div class="fix"></div>
	            <h5>Optional Information</h5>

	            <div class="form_row clearfix">
	                <label>Your Web Site</label>
	                <input type="text" name="user_web" id="user_web" class="textfield" value="" size="25" />
	            </div>
	                    
	            <div class="form_row clearfix">
	                <label>Twitter Name</label>
	                <input type="text" name="user_twitter" id="user_twitter" class="textfield" value="" size="25" />
	            </div>

                <br />
	            <input type="submit" name="registernow" value="Register Now" class="btn_input_highlight btn_spacer" />
            </form>
        </div>
    </div>
</div>