<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EventStore" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=EventStore_Test;Integrated Security=True;" />
    <add name="ReadModel" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=DotNetFlow_Test;Integrated Security=True;" />
  </connectionStrings>
</configuration>