@model DotNetFlow.Core.ReadModel.Models.PublishedItem

<article>
    <header>
        <h3>@Model.Title</h3>
        <p> Published on @Html.DisplayFor(model => Model.PublishedAt, "PubDate")</p>
    </header>
    

    @Html.Raw(Model.HtmlContent)
</article>