@model IEnumerable<IGrouping<DateTime, DotNetFlow.Core.ReadModel.Models.PublishedItem>>

@{ ViewBag.Title = "DotNetFlow | For .NET Development News"; }

<div class="published-items">
    @foreach (var group in Model)
    {
        <div class="date">@String.Format("{0:dddd, MMMM d, yyyy}", group.Key)</div>
    
        foreach (var item in group)
        {
            @Html.Partial("_Item", item)
        }
    }
</div>